# 应用配置
APP_NAME=Quick Pick Birds
DEBUG=True

# CORS 配置 - 前端地址
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]

# 文件夹配置
UPLOAD_DIR=./uploads
RAW_PHOTO_DIR=

# 模型配置
MODEL_PATH=./models/bird_classifier.pth
